<!-- using typography -->
<!-- <div class="mat-display-4">This is display on 4</div>
<div class="mat-display-3">This is display on 3</div>
<div class="mat-display-2">This is display on 2</div>
<div class="mat-display-1">This is display on 1</div>

<div class="mat-headline">This is a heading for h1</div>
<div class="mat-title">This is a heading for h2</div>
<div class="mat-subheading-2">This is a heading for h3</div>
<div class="mat-subheading-1">This is a heading for h4</div>

<div class="mat-body-1">This is the body text</div>
<div class="mat-body-2">This is the bold text</div>
<div class="mat-caption">This is the caption text</div>

<div class="mat-typography">
  <h1>This is h1</h1>
  <h2>This is h2</h2>
  <h3>This is h3</h3>
  <h4>This is h4</h4>
</div> -->
<!-- using buttons -->
<!-- <button mat-button color="primary" disableRipple>Click me!</button>
<button mat-raised-button color="accent">Click me!</button>
<button mat-flat-button color="warn">Click me!</button>
<button mat-stroked-button>Click me!</button> -->
<!-- circular buttons -->
<!-- <div>
  <button mat-icon-button>Icon</button>
  <button mat-fab>Icon</button>
  <button mat-mini-fab>Icon</button>
</div> -->
<!-- button togle -->
<!-- <div>
  <mat-button-toggle disableRipple disabled checked #toggleBtnState
    >Toggle</mat-button-toggle
  >
  {{ toggleBtnState.checked }}
</div> -->
<!-- <div>
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup" multiple>
    <mat-button-toggle value="Angular">Angular</mat-button-toggle>
    <mat-button-toggle value="React">React</mat-button-toggle>
    <mat-button-toggle value="Vue">Vue</mat-button-toggle>
  </mat-button-toggle-group>
  {{ toggleGroup.value }}
</div> -->
<!-- using mat icon -->
<!-- <div>
  <mat-icon color="primary">grade</mat-icon>
</div> -->
<!-- materials bages -->
<!-- <br />
<div class="">
  <span matBadge="5">Notifications</span>
</div>
<div class="">
  <span matBadge="5" matBadgePosition="below before" matBadgeSize="small"
    >Notifications</span
  >
</div>
<div class="">
  <span matBadge="5" matBadgePosition="below after">Notifications</span>
</div>
<div class="">
  <span
    [matBadge]="notifications"
    [matBadgeHidden]="notifications === 0"
    matBadgePosition="above before"
    matBadgeSize="large"
    matBadgeColor="warn"
    matBadgeOverlap="false"
    >Notifications</span
  >
</div> -->
<!-- Progress Spinner -->
<!-- <mat-progress-spinner value="90"></mat-progress-spinner>
<mat-spinner *ngIf="showSpinner"></mat-spinner>
<button (click)="loadData()">Load data</button> -->
<!-- navbar -->
<!-- <mat-toolbar color="primary">
  <span>Navbar</span>
</mat-toolbar> -->
<!-- <mat-toolbar color="primary" class="navbar">
  <div>Navbar</div>
  <div>
    <span>Home</span>
    <span>About</span>
    <span>Services</span>
  </div>
</mat-toolbar> -->
<!-- Sidnav -->
<!-- <mat-sidenav-container>
  <mat-sidenav
    #sidenav
    mode="side"
    [(opened)]="opened"
    (opened)="log('sesame open')"
    (closed)="log('sesame close')"
    >Sidenav</mat-sidenav
  >
  <mat-sidenav-content
    >Main
    <button (click)="opened = !opened">Toggle Open</button>
    <button (click)="sidenav.open()">Open</button>
    <button (click)="sidenav.close()">Close</button>
    <button (click)="sidenav.toggle()">Toggle</button>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<!-- Creating Menus -->
<!-- <mat-menu #appMenu="matMenu" xPosition="after" yPosition="above">
  <button mat-menu-item [matMenuTriggerFor]="subMenu">FrontEnd</button>
  <button mat-menu-item>BackEnd</button>
</mat-menu>
<button class="center" mat-flat-button [matMenuTriggerFor]="appMenu">
  Menu
</button>

<mat-menu #subMenu="matMenu">
  <button mat-menu-item>Angular</button>
  <button mat-menu-item>React</button>
  <button mat-menu-item>Vue</button>
</mat-menu> -->
<!-- --------------------passing name into dynamic menus------------------------------------ -->
<!-- <mat-menu #lazyMenu="matMenu">
  <ng-template matMenuContent let-name="name" let-hobby="hobby">
    <button mat-menu-item>Settings</button>
    <button mat-menu-item>Log out {{ name }}</button>
    <button mat-menu-item>start {{ hobby }}</button>
  </ng-template>
</mat-menu>
<button
  mat-raised-button
  [matMenuTriggerData]="{ name: 'Vishwas', hobby: 'football' }"
  [matMenuTriggerFor]="lazyMenu"
>
  Vishwas
</button>
<button
  mat-raised-button
  [matMenuTriggerFor]="lazyMenu"
  [matMenuTriggerData]="{ name: 'Codevalution', hobby: 'teaching' }"
>
  Codevalution
</button> -->
