button {
  margin-right: 3rem;
}

div {
  margin: 3rem;
}
/* navbar */
.navbar {
  justify-content: space-between;
}

span {
  padding-right: 1rem;
}
/* sidenav */
mat-sidenav-container {
  height: 100%;
}
mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  background-color: lightcoral;
  width: 200px;
}
